@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
* {
    font-family: "Comfortaa", sans;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.white {
    color: #fff;
}

.white:hover {
    color: #fff;
}

.white2 {
    color: #b9bbbe;
}

.white3 {
    color: #72767d;
}

.white3:hover {
    color: #72767d;
}

.white2:hover {
    color: #b9bbbe;
}

.success1{
    color: #ed4245;
}

a {
    cursor: pointer;
    text-decoration: none !important;
}

a:hover {
    color: white;
}

.primaryButton {
    background-color: #363a8e;
    color: #fff;
    height: 3em;
    border-radius: 0.5em;
    padding: 0 2em;
    line-height: 3em;
    cursor: pointer;
    border: none;
    transition: all 0.33s;
}

.primaryButton:hover {
    background-color: #23265f;
    transition: all 0.33s;
}

.primaryButton:active {
    transform: scale(0.95);
}

.secondaryButton {
    background-color: transparent;
    color: #fff;
    height: 3em;
    border-radius: 0.5em;
    padding: 0 2em;
    line-height: 3em;
    cursor: pointer;
    border: 2px solid #363a8e;
    transition: all 0.33s;
}

.secondaryButton:hover {
    background-color: #363a8e;
    transition: all 0.33s;
}

.secondaryButton:active {
    transform: scale(0.95);
}

.truncateToOneLine {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hoverUnderline:hover{
    text-decoration: underline!important;
}

body::-webkit-scrollbar-track {
    border-radius: 100px;
    background-color: transparent;
    margin-right: 1em;
}

body::-webkit-scrollbar {
    border-radius: 100px;
    background-color: transparent;
    height: 0.33em;
    width: 4px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: #b9bbbe;
}